<app-layout>
  <div settings>
    <h1 class="text-2xl font-bold">Boids Controls</h1>
    <p>Press <span class="font-bold">Space</span> to toggle time
      <span class="font-bold">x</span> -- to step time<br>
      <span class="font-bold">g</span> -- to toggle grid<br>
      <span class="font-bold">r</span> -- to toggle boid range<br>
      <span class="font-bold">t</span> -- to toggle boid trail<br>
      <span class="font-bold">Arrow Up</span> -- to add boids<br>
      <span class="font-bold">Arrow Down</span> -- to remove boids<br>
      <span class="font-bold">Alt</span> + <span class="font-bold">Arrow Up</span> -- to add sharks<br>
      <span class="font-bold">Alt</span> + <span class="font-bold">Arrow Down</span> -- to remove sharks<br>
      <span class="font-bold">Shift</span> + <span class="font-bold">Arrow Up</span> -- to add 50 boids<br>
      <span class="font-bold">Shift</span> + <span class="font-bold">Arrow Down</span> -- to remove 50 boids<br>
      <span class="font-bold">Alt</span> + <span class="font-bold">Shift</span> + <span
        class="font-bold">Arrow Up</span> -- to add 50 sharks<br>
      <span class="font-bold">Alt</span> + <span class="font-bold">Shift</span> + <span
        class="font-bold">Arrow Down</span> -- to remove 50 sharks<br>
      <span class="font-bold">Ctrl</span> + <span class="font-bold">Arrow Up</span> -- to increase boid trail length<br>
      <span class="font-bold">Ctrl</span> + <span class="font-bold">Arrow Down</span> -- to decrease boid trail
      length<br>
      <br>
      <span class="font-bold">c</span> -- Clear debug overlays<br>
      <span class="font-bold">shift + c</span> -- Enable debug overlays<br>
    </p>
  </div>
  <div #canvasFrame canvas class="w-full h-full relative">
    <canvas #canvas>
    </canvas>
  </div>
</app-layout>

